.main{
  display:flex;
  justify-content: center;
}

.onboarding-portal-login {
  margin: 0;
  top: 75px;
  font-size: var(--heading-1-size);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  justify-content: center;
  position: relative;
  right: -168px;
}
.step-into-a {
  position: relative;
  top: 102px;
  left: -7px;
  width: 362px;
}
.group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 182px);
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  width: 364px;
  height: 98px;
}
.group-item {
  position: absolute;
  top: 38px;
  left: calc(50% - 153px);
  background-color: #fff;
  width: 305px;
  height: 38px;
}
.rectangle-parent {
  position: absolute;
  top: 147px;
  left: calc(50% - 182px);
  width: 364px;
  height: 98px;
  cursor: pointer;
}
.enter-your-register {
  position: relative;
  top: 168px;
  left: -343px;
  display: inline-block;
  width: 156px;
}
.untitled-design-1-2 {
  position: absolute;
  top: 223px;
  left: calc(50% - 188px);
  width: 383px;
  height: 137px;
  object-fit: cover;
}
.webb-pattern {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-image: url(http://localhost:3000/static/media/webb-pattern@3x.a52b652….png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    font-size: var(--text-size);
    color: var(--color-darkslategray);
    font-family: var(--text);
    background:#ff37c269;;
}

